/* Storeman Layout */

h1 {
  padding: 25px 0 10px 85px;
}

.storeman-div {
  margin-left: 30px;
  width: 1400px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.add-game {
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.remove-game {
  border-radius: 5px;
  width: 400px;
  height: 200px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.modify-game {
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background: #322d33;
}

form {
  width: 400px;
  height: 480px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

input {
  width: 250px;
  background-color: #322d33;
  color: white;
  border: none;
  box-shadow: none;
}

input::placeholder {
  color: #6e6e6f;
}

#date-input {
  color: #6e6e6f;
}

#date-input::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

#textarea-game,
#article-description {
  color: white;
  background-color: #322d33;
  border: none;
  resize: none;
  height: 150px;
  width: 250px;
}

#textarea-game::placeholder {
  color: #6e6e6f;
}

.button {
  background-color: #b62bae;
  border: none;
  box-shadow: none;
}

.button:hover {
  background: rgb(199, 80, 199);
}

/* Writer Layout */

.writer-div {
  margin-left: 30px;
  height: 500px;
  width: 1400px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

#add-article {
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#add-article-button {
  margin-top: 55px;
}

.remove-article {
  border-radius: 5px;
  width: 400px;
  height: 200px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.modify-article {
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

::-webkit-file-upload-button {
  margin-right: 15px;
  height: 25px;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  background: #6e6e6f;
  color: #322d33;
}

/* Table layout */

.table-storeman {
  height: 400px;
  margin-left: 80px;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 20px;
  min-width: 1000px;
}

.table-title {
  font-weight: 600;
  height: 40px;
  background-color: #171717;
  text-align: left;
}

.table-row {
  border-bottom: 2px solid #322d33;
}

.table-data {
  padding: 10px;
}
