/* Storeman Layout */

#header {
  padding: 25px 0 10px 100px;
}

.storeman-div {
  width: 600px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-game {
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.remove-game {
  border-radius: 5px;
  width: 400px;
  height: 200px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

form {
  width: 400px;
  height: 480px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

input {
  width: 250px;
  background-color: #322d33;
  border: none;
  box-shadow: none;
}

#date-input {
  color: #6e6e6f;
}

#date-input::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

#textarea-game,
#article-description {
  color: #6e6e6f;
  background-color: #322d33;
  border: none;
  resize: none;
  height: 150px;
  width: 250px;
}

.button {
  background-color: #b62bae;
  border: none;
  box-shadow: none;
}

.button:hover {
  background: rgb(199, 80, 199);
}

/* Writer Layout */

.writer-div {
  height: 750px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#add-article {
  border-radius: 5px;
  width: 400px;
  height: 480px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.remove-article {
  border-radius: 5px;
  width: 400px;
  height: 200px;
  background: #322d33;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

::-webkit-file-upload-button {
  margin-right: 15px;
  height: 25px;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  background: #6e6e6f;
  color: #322d33;
}
